body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .info{
        position:fixed;
        width:50%;
        height:auto;
        padding:2rem;
        z-index:99;
        color: #d83131;
        background-color: #ecf3ae;
        box-sizing: border-box;
        cursor:pointer;
    }

    .row{ 
        margin-bottom: 12px;
        &.main{
            margin-bottom: 0;
        }
        .col{
            &.s6{
                padding: 0;
                height: 100vh;
                overflow: hidden;
                &.scroll{
                    display: block;
                    overflow-y: auto;
                    padding: 1rem;
                    box-sizing: border-box;
                    h6{
                        margin: 2rem 0;
                    }
                    form{
                        .error{
                            color: #d83131;
                            input[type="text"]:not(.browser-default) {
                                border-bottom: 1px dashed #d83131;
                                &:focus {
                                    border-bottom: 1px solid  #d83131;
                                    box-shadow: 0 1px 0 0 #ffffff;
                                }
                            }
                            label{
                                color: #d83131;
                            }
                            .helper-text{
                                color: #d83131;
                            }
                        }
                    }
                }
            }
            .row{
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
    #openstreetmap{
        overflow: hidden;
        height: 100vh;
    }
  }
  